*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wholepage{
    background-color: rgb(54, 4, 54);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.circle1{
    position: absolute;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    background-color: red;
    right: 0%;
    top:0%;
    z-index:1;
}
.circle2{
    position: absolute;
    height: 150px;
    border-radius: 50%;
    width: 150px;
    background-color: red;
    left: 0%;
    bottom:0%;
}
.circle3{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color:red;
    right: 3%;
   top: 35%;
}
.circle4{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    right: 25%;
    bottom:5%;
}
.circle5{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    left: 20%;
    top:5%
}
.circle6{
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    left: 30%;
    bottom:1%;
}
.circle7{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    left: 50%;
    bottom:40%;
}
.top{
   
}

header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0em 4em;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 12vh;
    background-color: rgb(78, 21, 78)
}
.logo{
   
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    flex:2;
    opacity: 0.8;
}

.logo a{
    text-decoration: none;
    color: white;
}

nav{
    flex: 1.25;
}
nav ul{
    text-decoration: none;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

button{
    background-color: rgb(78, 21, 78);
        border: none;
        border-radius: 30px;
        padding: 0.7em 1em;
        color:rgba(255, 255, 255, 0.7);
        cursor: pointer;
        font-size: 18px;
        box-sizing: border-box;
        border: 1px rgb(70, 12, 70);
        
    }
    .button_border{
        border: 1px solid white;
        
    }

    .button_border:hover{
        border: 1px solid red;
        
    }
button:hover{
    background-color: red;
    color: white;
    border: none;
     
}

/* -----------------content of about me main section----------------- */

.bottom{
    top: 6vh;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 3;
}
.main-content{
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    z-index: 3;
    
}

.aboutme{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.1),rgba(128, 9, 9, 0.01));
    height: 500px;
    width: 700px;
    padding: 2em 3em;
    backdrop-filter: blur(15px);
   box-shadow: 10px 10px 10px solid black;
   border-radius: 10px;
}

.iam , .itsme{
    color: rgba(255, 255, 255, 0.9);
    margin-top: 1em;
    font-size: 20px;
}
.myname{
    font-size:50px;
    color:rgba(255, 255, 255, 0.9)
}

.whoami{
    display: flex;
    flex-wrap: wrap;
}
.the{
    margin-right: 1em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,0.5);
   color: #fff;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 30px;
    font-weight: 300;
    cursor: pointer;
}
.the:hover{
    background: red;
}
.description{
    margin: 0.5em;
    padding: 1em 0em;
    height: 25vh;
    width: 100%;
    color: white;
    text-align: justify;
}

.myskills{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.1),rgba(128, 9, 9, 0.01));
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    backdrop-filter: blur(15px);
    border-radius: 10px;
   color: #fff;
   overflow-y: scroll;
}
h1{
    color: white;
    opacity: 0.8;
    margin-bottom: 2vh;
}
.textandprogess{
    color: black;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content:center;
    align-items: lefft;
}
.progess{
    width: 90%;
    height: 30%;
    border: 1px solid grey;
    border-radius: 15px;
}
.progessfill-html{
    width: 80%;
    height: 100%;
    background: red;
    border-radius: 15px;
}
.progessfill-css{
    width: 70%;
    height: 100%;
    background: red;
    border-radius: 15px;
}
.progessfill-js{
    width: 50%;
    height: 100%;
    background: red;
    border-radius: 15px;
}
.progessfill-c{
    width: 80%;
    height: 100%;
    background: red;
    border-radius: 15px;
}
.progessfill-git{
    width: 80%;
    height: 100%;
    background: red;
    border-radius: 15px;
}
.progessfill-mysql{
    width: 50%;
    height: 100%;
    background: red;
    border-radius: 15px;
}
.progessfill-php{
    width: 30%;
    height: 100%;
    background: red;
    border-radius: 15px;
}
.progessfill-bash{
    width: 30%;
    height: 100%;
    background: red;
    border-radius: 15px;
}
.border{
    display: flex;
    margin: 2% 5%;
    height: 8vh;
    width: 90%;
    background:#fff;
    border-radius: 30px;
}
.skill-logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
   align-items: center;
}
img{
    height: 70%;
}



@media screen and (max-width:1024px) {


    .itsme ,.iam{
        font-size: 15px;
    }
    .myname{
        font-size: 40px;
    }

    .myskills{
        margin: 2vh 5vh;
        height:680px;
      padding-bottom: 10vh;
    }

    img{
        height: 60%;
    }
    .circle3 ,.circle4{
        display: none;
    }
    .bottom{
        margin-right:3vh;
        margin-top: 5vh;
    }
   .aboutme{
       margin: 5vh;
       overflow-y: scroll;
   }
.the{
    margin-right: 0.5em;
    margin-top: 1em;
}
    .wholepage{
        position: relative;
        overflow: hidden;
    }
    .logo{
        font-size:35px;
    }
    .circle1{
        display:none;
    }
    .circle2{
        position: absolute;
        height: 150px;
        border-radius: 50%;
        width: 150px;
        background-color: red;
        z-index: 2;
        left: -10%;
        bottom:-5%;
    }
    .circle3{
        position: absolute;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color:red;
        z-index: 4;
        right: -6%;
       top: 35%;
    }
    .circle4{
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: red;
        z-index: 4;
        right: 10%;
        bottom:5%;
    }
    .circle5{
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        z-index: 4;
        left: 20%;
        top:-5%
    }
    .circle6{
        position: absolute;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.05);
        z-index: 4;
        left: 30%;
        bottom:1%;
    }




    nav ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(128, 9, 9, 0.1));
        backdrop-filter: blur(20px);
        top:0%;  
        height:100%;
        left: 0%;
        width: 100%;
        border-radius: 20px;
        /* display: none; */
        clip-path: inset(100%);
        -webkit-clip-path:inset(100%);
        transition: all .5s ease-out;
        pointer-events: none;
        z-index: 3;
        padding-top: 95px;
    }
    button{
       
        margin-bottom: 30px;
        border: none;
    }
    .button_border{
        background-color: rgb(78, 21, 78);
    }
    .button_border:hover{
       border:1px solid white
    }
    button:hover{
        background-color: white;
        color: black;
    }

    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    .hamburger{
        position:absolute;
        z-index: 3;
        cursor: pointer;
        right: 5%;
        top: 30%;
        transform: translate(-5% -30%);
    }
    nav ul.open{
        clip-path: inset(25% 15% 15% 15% round 5%);
        -webkit-clip-path:inset(25% 15% 15% 15% round 5%);
        transition: all .5s ease-out;
        pointer-events: all;
    }
}