*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page1{
    background-color: rgb(54, 4, 54);
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle1{
    position: absolute;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    background-color: red;
    z-index: 2;
    right: 0%;
    top:0%;
}
.circle2{
    position: absolute;
    height: 150px;
    border-radius: 50%;
    width: 150px;
    background-color: red;
    z-index: 2;
    left: 0%;
    bottom:0%;
}
.circle3{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color:red;
    z-index: 4;
    right: 3%;
   top: 35%;
}
.circle4{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    z-index: 4;
    right: 25%;
    bottom:5%;
}
.circle5{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 4;
    left: 40%;
    top:1%
}
.circle6{
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 4;
    left: 30%;
    bottom:1%;
}

.main{
   
    height: 85vh;
    width: 90vw;
    background-color: rgb(70, 12, 70);
    z-index: 3;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
  
   position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
    /* border-bottom: 1px solid purple; */
    position:sticky;
}
.logo{
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    flex:1;
    opacity: 0.8;
}
.logo a{
    text-decoration: none;
    color: white;
}

.seperator{
    position: absolute;
    height: 7%;
    width: 2px;
    background-color: white;
    right: 50%;
    top: 12%;
}
button{
    padding: 10px;
    background-color: rgb(70, 12, 70);
    /* border:1px solid red; */
    border: none;
    border-radius: 30px;
    padding: 0.7em 1em;
    color:rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px rgb(70, 12, 70);
    
}
.button_border{
    border: 1px solid white;
    
}
.button_border:hover{
    border: 1px solid red;
    
}

button:hover{
    background-color: red;
    color: white;
    border: none;
     
}

.links{
    flex: 1;
   
}
.links ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
    text-align: center;
    height: 100%;
    margin-left: 2%;
   
}
.links ul li{
}

.links ul li a{
    text-decoration: none;
    color: white;

}
header{
    position:sticky;
    top: 0;
    background-color: rgb(70, 12, 70);
    z-index: 10;
   
}

  /* styling body section of main  */

.middle_section{
    display: flex;
    margin:5%;
   
   flex-wrap: wrap-reverse;
}


.col1{
    width:390px;
}

.one, .two{
    color: white;
    opacity: 0.8;
}

.name{
    color: white;
    font-size: 60px;
    font-weight: 600;
}


.three{
    color: white;
    opacity: 0.8;
    padding-top: 10%
}

.social_icons{
    display: flex;
    justify-content:left;
    align-items: center;
    font-size: 30px;
    padding-top: 0.5em;
}
i{
    padding-right: 0.5em;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.fa-facebook:hover{
    color: rgb(115, 115, 219);
}
.fa-instagram:hover{
    color:rgb(243, 4, 44);
}
.fa-youtube:hover{
    color:rgb(233, 34, 34);
}
.fa-github:hover{
    color:teal;
}
.fa-twitter:hover{
    color: rgb(31, 150, 197)
}

.extra_buttons{
    margin-top: 15%;
}
.hire{
    background-color: red;
    color: white;
    margin-right: 1em;
    padding: 0.7em 2em;
}
.collab{
    border: 1px solid white;
    color: white;
    margin-right: 1em;
    padding: 0.7em 2em;
}
.collab:hover{
    border: 1px solid rgb(70, 12, 70);
    background-color: rgba(255, 255, 255, 0.1);
}

.col2{
    box-sizing: border-box;
    width: 350px;
}


.col3{
    width:300px;
    top:50%;
    position: relative;
}
.image{
    display: flex;
    height:10em;
    background-image: url("Extra/am.png");
    background-repeat: no-repeat;
    font-size: 38px;
    margin: top -10%;
}


@media screen and (max-width:1024px) {
  
/*   
    .links{
        display: none;
    } */
    .seperator{
        display: none;
    }
    .col1{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    /* .col2{
        display: none;
    } */
    .main{
        overflow-y: scroll;
    }

    .extra_buttons{
        margin-top: 10%;
    }
  

    .image{
        display: flex;
        justify-content: center;
    }



    .circle1{
        position: absolute;
        height: 200px;
        border-radius: 50%;
        width: 200px;
        background-color: red;
        z-index: 2;
        right: -20%;
        top:-10%;
    }
    .circle2{
        position: absolute;
        height: 150px;
        border-radius: 50%;
        width: 150px;
        background-color: red;
        z-index: 2;
        left: -10%;
        bottom:-5%;
    }
    .circle3{
        position: absolute;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color:red;
        z-index: 4;
        right: -6%;
       top: 35%;
    }
    .circle4{
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: red;
        z-index: 4;
        right: 10%;
        bottom:5%;
    }
    .circle5{
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        z-index: 4;
        left: 20%;
        top:-5%
    }
    .circle6{
        position: absolute;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.05);
        z-index: 4;
        left: 30%;
        bottom:1%;
    }
    .page1{
        overflow: hidden;
    }
    .extra_buttons{
        display: flex;

    }
    .hire{
        padding: 0.7em 1.5em;
    }

    .logo{
        font-size:35px;
    }
    .name{
        font-size: 35px;
    }

    .links ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: red; 
        top:7%;  
        height:88%;
        left: 3%;
        width: 85%;
        border-radius: 20px;
        /* display: none; */
        clip-path: circle(100px at 95% -3%);
        -webkit-clip-path:circle(100px at 95% -3%);
        transition: all .5s ease-out;
        pointer-events: none;
       
    }
    button{
        margin-bottom: 40px;
        border: none;
    }
    .button_border{
        border: 1px solid red;
    }
    button:hover{
        background-color: white;
        color: black;
    }

.line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
}
.hamburger{
    position:absolute;
    z-index: 3;
    cursor: pointer;
    right: 5%;
    top: 30%;
    transform: translate(-5% -30%);
}

.links ul.open{
    clip-path: circle(1000px at 90% -3%);
    -webkit-clip-path:circle(1000px at 90% -3%);
    pointer-events: all;
}
}
